body {
	background-color: black;
	color: white;
}

h1 {
	color: #AE240A;
}

h3 {
	color: #AE240A;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div {
	padding: 1em;
}

textarea {
	width: 75%;
	height: 5em;
}

button {
	all: unset;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.header-a {
	color: white;
}

.header-a:visited {
	color: white;
}

.practical {
	text-align: right;
	font-size: 125%;
}

.practical-paragraph, .info-paragraph {
	margin: 0;
}

.intro {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 60%;
}

.personality-grid {
	display: grid;
	grid-template-columns: 50% 25% 25%;
	padding-left: 0em;
}

.traits-header {
	margin-bottom: 0em;
	padding-bottom: 0em;
}

.traits-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	padding-left: 0em;
	margin-left: 0em;
	margin-top: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

.cognitive {
	padding-left: 0em;
	padding-bottom: 0em;
}

.social {
	padding-left: 0em;
	padding-bottom: 0em;
}

.languages-table {
	width: 100%;
}

.education-table {
	width: 50%;
}

.skills {

}

.skills-header{
	margin-bottom: 0em;
}

.skills-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	padding-left: 0em;
	padding-top: 0em;
}

.skills-table {
	width: 65%;
	margin-left: 0em;
	padding-left: 0em;
}

.skills-programming {
	padding-left: 0em;
	padding-bottom: 0em;
}

.skills-technologies {
	padding-left: 0em;
	padding-bottom: 0em;
}

.history-table {
	width: 40%;
}

.interests {

}

.links-a {
	color: white;
}
.links-a:visited {
	color: white;
}

.projects-title {
	text-align: center;
}

.projects-grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.project-name {
	height: 2em;
}

.project-img {
	width: 90%;
	height: 75%;
}

.contact-form-grid {
	display: grid;
	grid-template-columns: 100%;
}

.form-element {
	padding: 0em;
}

.contact-form-label {
	display: inline-block;
	width: 25%;
	text-align: left;
	padding-bottom: 1em;
}

.form-input {
	margin-bottom: 1em;
	width: 75%;
	float: left;
}

.poem {
	display: none;
}

@media (max-width: 650px) {
	.personality-grid {
		grid-template-columns: 100%;
	}

	.projects-grid {
		grid-template-columns: 33% 33% 33%;
	}

	.intro {
		max-width: 80%;
	}

	.education-table , .history-table {
		width: 80%;
	}
}

@media (max-width: 480px) {
	.traits-grid , .skills-grid, .projects-grid {
		grid-template-columns: 100%;
	}

	.intro {
		max-width: 100%;
	}

	.education-table, .skills-table, .history-table {
		width: 100%;
	}
}
